<div class="col-md-4">
  <div class="list-group-item">
    <form {{action "createBand" on="submit"}}>
      {{input type="text" class="new-band" placeholder="New band" value=name}}
      <button type="submit" class="btn btn-primary btn-sm new-band-button"
              disabled={{isAddButtonDisabled}}>Add</button>
    </form>
  </div>
  <div class="list-group">
    {{#each sortedBands as |band|}}
      {{#link-to "bands.band" band class="list-group-item band-link clearfix"}}
        <span class="band-name">{{band.name}}</span>
        <span class="band-rating pull-right">{{band.rating}}</span>
      {{/link-to}}
    {{/each}}
  </div>
</div>

<div class="col-md-4">
  {{outlet}}
</div>
