<div class={{if errors.name "form-group has-error" "form-group"}}>
  <label for="band-name">Name</label>
  <input type="text" class="form-control" id="band-name" value={{name}}
    oninput={{action "nameDidChange" value="target.value"}} />
</div>
<div class="form-group">
  <label for="band-year">Formed in</label>
  <input type="text" class="form-control" id="band-year" value={{year}}
    oninput={{action "yearDidChange" value="target.value"}} />
</div>
<div class="form-group">
  <label for="band-rating">Rating</label>
  {{star-rating id="band-rating" item=band rating=rating on-click=(action "ratingDidChange")}}
</div>
<div class="form-group button-panel">
  <button type="submit" class="btn btn-primary pull-right" {{action "saveBand"}}>Submit</button>
  <button type="button" class="btn btn-danger pull-right" {{action "reset"}}>Reset</button>
</div>
